{{ $en := .en }}
<div class="p360" data-p360>
  <div class="p360__bande" data-bande>
    {{- range seq 2 }}
    <div class="p360__scene">
      <div class="p360__mur" style="background:#e9dcc6"><span style="left:30%;bottom:18%">🛋️</span><span style="left:65%;top:18%;font-size:3rem">🖼️</span><span style="left:8%;bottom:18%">🪴</span></div>
      <div class="p360__mur" style="background:#d9e6ea"><span style="left:25%;top:14%;font-size:5rem">🪟</span><span style="left:60%;bottom:18%">🪑</span><span style="left:74%;bottom:18%">🪑</span></div>
      <div class="p360__mur" style="background:#efe3d3"><span style="left:30%;bottom:18%;font-size:5rem">🚪</span><span style="left:70%;top:20%;font-size:2.4rem">🕰️</span></div>
      <div class="p360__mur" style="background:#dfe9d8"><span style="left:20%;bottom:18%">📺</span><span style="left:55%;bottom:18%">🛏️</span><span style="left:80%;top:22%;font-size:2.4rem">💡</span></div>
    </div>
    {{- end }}
  </div>
  <p class="p360__aide">⇆ {{ cond $en "Drag to look around" "Faites glisser pour regarder autour" }}</p>
</div>
<style>
.p360{position:relative;overflow:hidden;border-radius:14px;height:320px;cursor:grab;touch-action:pan-y;user-select:none}
.p360:active{cursor:grabbing}
.p360__bande{display:flex;height:100%;width:max-content;will-change:transform}
.p360__scene{display:flex;height:100%}
.p360__mur{position:relative;width:420px;height:100%;border-right:2px solid rgb(0 0 0 / .06);background-image:linear-gradient(transparent 78%,rgb(120 90 60 / .35) 78%) !important;background-color:inherit}
.p360__mur span{position:absolute;font-size:4rem}
.p360__aide{position:absolute;bottom:10px;left:50%;transform:translateX(-50%);margin:0;background:rgb(0 0 0 / .55);color:#fff;padding:4px 14px;border-radius:99px;font-size:.88rem}
</style>
